@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap');

body {
  font-family: 'Oxanium', cursive;
  font-size: .938rem;
  margin: 0;
  color: hsl(203, 8%, 98%);
  background-color: hsl(259, 20%, 18%);
}

h1, h2, h3, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}